.chinesetext {
  font-family: 'GBK'!important;
  color: white;
  -webkit-text-stroke-width: 0px;
}


.blog-container {
  background-color: #151515;
  padding: 2%;
}
.blog-post {
padding: 0px 35px;
margin: 0;
}

.post-card h1 {
  font-family: "Josefin Sans";
  font-weight: 700;
  padding: 14px;
  font-size: 1.333rem;
}

.title {
font-size: 1.333rem;
padding-bottom: 12px;
border-bottom: 2px solid #ffdf00;
font-family: "Orbitron", monospace;
width: 240px;
font-weight: 900;
-webkit-text-stroke-color: #fff;
-webkit-text-stroke-width: 1px;
margin-bottom: 23px;
color: transparent;

}

.post-container {
  // display: flex;
  // flex-direction: row;
}

.blog-post {
padding: 0px 35px;
margin: 0;
min-height: 240px;
}



.post-card {
  height: 100%;
align-items: center;
border: 2px solid black;
// height: 100%;
background-color: #ffdf00;
color: #000;


padding: 1px;

cursor: pointer;

}


@media only screen and (min-width: 962px) {
  .blog-post {
  padding: 0px 0px;
  margin: 0;
  }
}

@media only screen and ( orientation : portrait ) {

  .blog-container {
    padding: 10% 2%;
  }
  .post-card{
  width: 100%;
  }
  .title {
    font-size: 1.333em;
    margin-left: 21px;
  }
}

.blog-post h2 {
  font-family: "Josefin Sans";
  font-weight: 700;
  padding: 1rem;
  font-size: 1.777rem;
  background-color: #ffdf00;
}

.blog-post h3 {
  font-family: "Josefin Sans";
  padding: 1rem;
  font-size: 1rem;
  background-color: #ffdf00;
}

.blog-post p {
  font-family: "Josefin Sans";
  padding: 1rem;
  font-size: 1rem;
  background-color: lavender;
  position: absolute;
  bottom: 0;
}

.blog-post img {
  max-width: 40rem;
  width: 100%;
}
