nav {
// background-image: linear-gradient(to right top, #ffdf00, #fce41e, #f9e82f, #f7ed3d, #f4f149);
// height: 68px;
height: 3rem;
width: 100vw;
background-color: black;
}

.navstream {
  width: auto;
  position: absolute;
  top: 0;
  left: 30%;
}

@media (max-width: 500px) and (orientation : portrait) {
    .header-logo img{
      width: 9rem!important;
    }
}

// @media (max-width: 500px) {
//   .navstream{
// position: absolute;
// left: 40%;
//   }
// }

@media (min-width: 2000px) {
  .navstream{
position: absolute;
left: 15%;
  }
}


@media (max-width: 500px) and (orientation : portrait) {
  .navstream{
position: absolute;
left: 25%;
  }
  .header-logo img{
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  }
  .mobile-menu-button {
    position: fixed;
    top: 0;
    right: 40%;
    z-index: 99;
  }
}

@media (max-width: 360px) and (orientation : portrait) {
  .mobile-menu-button {
    position: fixed;
    top: 0;
    right: 40%;
    z-index: 99;
  }
}


.header-logo img {
  vertical-align: middle;
  padding: 0rem 1rem 0rem 1rem;
  height: auto;
  width: 12rem;
  margin: 7px 0px 7px 0px;
  display: inline-block;
  float: left;
  filter: invert(100%);
}

// .on-air {
//   display:inline-block;
//   float: left;
//   font-family: 'Josefin Sans';
//   margin-right: 24px;
// //box-shadow: 0px 0px 21px 0px rgba(255,255,255,0.2);
// //  background-color: rgba(255,255,255,0.5);
//   border-radius: 7px;
//   padding: 7px;
//   margin-top: 2px;
//   width: 33.333%;
// }

// .on-air h1 {
//   margin-top: 4px;
//   color: #555;
// }
//
// .on-air h2 {
//   margin-top: 4px;
//
// }

.social-menu-container ul {float: right;
  margin-right: 24px;
}

.social-menu-container ul li {
  display: inline-block;
  float: left;
  margin-top: 18px;
  font-family: 'Josefin Sans';
  font-size: 1em;
  margin-left: 14px;
  margin-right: 14px;
}

.mobile-menu-container ul {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.mobile-menu-container ul li {

  text-align: center;
  margin-top: 18px;
  font-family: 'Josefin Sans';
  font-size: 1em;

}

// .livestream-play-button {
//   position: relative;
//   color: #000;
//   z-index: 9;
//   cursor: pointer;
//   float: left;
//   margin-top: 7px;
//   margin-bottom:7px;
//   margin-right: 14px;
//   font-size: 2.109em;
// }

.livestream-play-button:hover {
  color: #555;
}

.mobile-menu-button {
  text-align: center;
  height: 42px;
  width: 42px;
  margin-top: 4px;
  font-size: 1.333em;
  line-height: 42px;
  vertical-align: middle;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 5px 5px 12px #252525 inset, -7px -7px 15px #141414 inset;

}

h2 {
  color: #fff;
  float: right;
  margin-right: 7px;
}

a {
  color: #fff;
  transition: 0.1s;
}

a:hover {
  color: #ffdf00;
}

.mobile-menu-container {
  position: fixed;
  background: rgba(0,0,0,0.88);
  width: 100%;
  height: 100%;
  z-index: 4;
}

@media (max-width: 1100px) {
  .social-menu-container ul li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
