<footer>
  <div class='row'>
    <div class='col-12 col-sm-8 col-lg-4'>
    <div class="image-container">
        <img src="assets/logo.png">
    </div>
    </div>
    <!-- <a href='https://www.facebook.com/hkcrlive'><li><i class="fab fa-facebook-f"></i></li></a>
    <a href='https://www.youtube.com/channel/UCFqCSru3cS79WElDMSh-jcg'><li><i class="fab fa-youtube"></i></li></a>
    <a href='https://www.mixcloud.com/HKCR/'><li><i class="fab fa-mixcloud"></i></li></a>
    <a href='https://www.instagram.com/hkcronline'><li><i class="fab fa-instagram"></i></li></a>
    <a href='https://twitter.com/hkcr_online'><li><i class="fab fa-twitter"></i></li></a>
    <a href='https://soundcloud.com/hkcrlive'><li><i class="fab fa-soundcloud"></i></li></a> -->
    <div class="col-12 col-sm-4 col-lg-2">
      <h1>Find our music</h1>
      <ul>
        <a href='https://www.mixcloud.com/HKCR/'><li><i class="fab fa-mixcloud"></i></li></a>
        <a href='https://soundcloud.com/hkcrlive'><li><i class="fab fa-soundcloud"></i></li></a>
        <a href='https://www.youtube.com/channel/UCFqCSru3cS79WElDMSh-jcg'><li><i class="fab fa-youtube"></i></li></a>
      </ul>
      <h1>Follow our social</h1>
      <ul>
        <a href='https://www.facebook.com/hkcrlive'><li><i class="fab fa-facebook-f"></i></li></a>
        <a href='https://www.instagram.com/hkcronline'><li><i class="fab fa-instagram"></i></li></a>
        <a href='https://twitter.com/hkcr_online'><li><i class="fab fa-twitter"></i></li></a>
      </ul>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <h2>Attend HKCR LIVE shows</h2>
        <p>Follow us to keep updated on the latest news on intimate gigs and shows</p>
        </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15204.437783449348!2d114.1787866550064!3d22.277580910190363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x49c42fa35bfc7e62!2sHKCR!5e0!3m2!1sen!2suk!4v1590679502861!5m2!1sen!2suk" width="360" height="180" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
  </footer>
