.container-fluid {
  padding-top: 0px;
  padding-bottom: 35px;
  background-color: #000;
  padding-left: 2%;
  padding-right: 2%;
}

.container {

}

.img-container {
  max-height: 240px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.img-container img {
width:100%;
}

h1 {
  font-size: 1.333em;
  padding-top: 35px;
  padding-bottom: 12px;
  border-bottom: 2px solid #ffdf00;
  font-family: "Orbitron", monospace;
  width: 240px;
  font-weight: 900;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 23px;
  color: transparent;
}

h2 {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 1.333em;
  color: #fff;
  font-family: 'Josefin Sans';
}

.row {
  padding-bottom: 35px;
}
