.livestream-container {
width: 100%;
background-color: #444;

}
// @media (min-width: 960px) {
// .livestream-container video {
// margin-left: 50%;
// transform: translateX(-480px);
// }
// }
.on-air {
  display:inline-block;
  float: left;
  font-family: 'Josefin Sans';
  margin-right: 24px;
  border: 1px solid #fff;
  padding: 7px;
  width: 100%;
}

@media (min-width: 960px) {
#video_holder {
  margin-left: 50%;
  transform: translateX(-480px);
}
}
