.livestream-container {
width: 100%;
position: relative;
}

.hkcr-cover {
  position: absolute;
  width: 200%;
  left: -50%;
  top: -50%;
  height: 200%;
  background-color: rgba(255,223,0,1);
  opacity: 1;
  z-index: 99;
}

.hkcr-cover img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-182px, -40px);
}

// @media (min-width: 768px) and (max-width: 1000px) {
//   .livestream-container {
//       width: 50%;
//   }

//   .on-air {
//     width: 50%;
//     position: absolute;
//     top: 0;
//     float: right;
//   }
// }
// @media (min-width: 960px) {
// .livestream-container video {
// margin-left: 50%;
// transform: translateX(-480px);
// }
// }
.on-air {
  display:inline-block;
  float: left;
  font-family: 'Josefin Sans';
  margin-right: 24px;
  border: 1px solid #fff;
  padding: 7px;
  width: 10vw;
}

@media (min-width: 960px) {
#video_holder {
  margin-left: 50%;
  transform: translateX(-480px);
}
}

@media (max-width: 990px) {
  h1 {
    margin-right: 7px !important;
  }

  .hkcr-cover {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 100%;

  }
}

.donate-btn {
  background-color: #00FF5D;
  padding: 4px;
  font-family: "Josefin Sans";
  position: absolute;
  font-size: 1.333em;
  margin-right: 35px;
  margin-top: 14px;
  right: 0px;
  cursor: pointer;
}

h1 {
  position: absolute;
  font-size: 1.777em;
  font-family: 'Orbitron';
color: #ffdf00;
  padding: 7px;
  border-radius: 4px;
margin-right: -11px;
margin-top: 11px;
right: 0px;
opacity: 0.77;
transition: 0.2s;
cursor: pointer;
z-index:999;
}

h1:hover {
  opacity: 1;
}
