.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 240px;
    text-align: center;
    background-color: #fff;
    position: relative;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffdf00' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }

// .bannerlogo{
//     clip-path: polygon(0 0, 55% 0, 55% 100%, 0% 100%);
//     position: absolute;
//     left: 10%;
//     width: 20vw;
//   }

.banner a {
    color: #00FF5D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 4.209em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:700;
    color: transparent;
    -webkit-text-stroke-color: #00FF5D;
    -webkit-text-stroke-width: 2px;
}

@media only screen and ( orientation: portrait ) {
    .banner h1 {
        font-size: 2.369em;
    }
    .banner a img {
        width: 40vw;
    }
}

.banner a:hover {
    text-decoration: none;
    color: white;
}


img {
    max-width: 100%;
    height: auto;
    max-height: 14rem;
    // position: absolute;
    // right: 10%;
}
