<div class='on-air'>
  <div class='row'>
    <i *ngIf='!radioActive' class="fas fa-play livestream-play-button" (click)='playRadio($event)'></i>
    <i *ngIf='radioActive' class="fas fa-pause livestream-play-button" (click)='pauseRadio($event)'></i>
  <div *ngIf="this.playerService.nowPlaying == ''" style='float: left; display: inline-block; width: 320px; border-right: 1px solid #fff; height: 35px;'>
    <img src="assets/radio-loading.gif">
  </div>
  <div *ngIf="this.playerService.nowPlaying !== ''" style='float: left; display: inline-block; width: 320px; border-right: 1px solid #fff; height: 35px;'>
  <h1><i style="color: #f00;margin-right: 7px;font-size:0.75em;" class="fas fa-circle"></i><span style="font-size: 0.5em;position:relative;top:-2px;">Live Now</span></h1>
  <h2 *ngIf='!radioActive'>{{this.playerService.nowPlaying}}</h2>
  <div class='now-playing-icon-container'>
  <img *ngIf='radioActive' src='assets/now-playing.gif'>
  </div>
  <h2 *ngIf='radioActive'>NOW PLAYING : {{this.playerService.nowPlaying}}</h2>
  </div>
  <div *ngIf="this.playerService.upNext !== ''" class='up-next' style='d-none md-block'>
    <h1>UP NEXT</h1>
    <h2>{{this.playerService.upNext}}</h2>
  </div>
  <div class='col'>
  <div class='video-stream' style='d-none lg-block'>
    <h1><i class="fas fa-tv"></i>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;WATCH LIVESTREAM NOW</h1>
    </div>
    <div class='see-schedule' style='d-none lg-block'>
      <h1><i class="fas fa-calendar-week"></i>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;SEE SCHEDULE</h1>
      </div>
      </div>
  </div>
</div>
<div class='radiostream-container'>
  <!-- <video data-dashjs-player
       [width]="livestreamPlayerWidth" controls autoplay
       src="http://161.35.20.148/dash/test.mpd">
</video> -->
<video id="video_holder"  #video
class="video-js vjs-default-skin vjs-big-play-centered vjs-big-play-button" controls
data-setup='{}'data-res="auto" ></video>
</div>
