.fluid-container {
  padding-bottom: 25px;
  padding-top: 0px;
}

.chinesetext {
  font-family: 'GBK'!important;
  color: black;
  -webkit-text-stroke-width: 0px;
}


#headphones {

  font-size: 48em;
  position: absolute;
  color: transparent;
  -webkit-text-stroke-color: #ffdf00;
  -webkit-text-stroke-width: 1px;
  transform: rotate(30deg);
  margin-left: 35px;
}


@media only screen and (orientation : portrait) {
  #headphones {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #headphones {
    display: none;
  }
}

.blob_1 {
  position: absolute;
  background-color: #ffdf00;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 50%;
  filter: blur(20px) contrast(30);
  margin-top: 50%;

}

h1 {

  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  margin-top: 11px;
  padding: 14px 7px;
  font-size: 1.333em;
  position: relative;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}



// .container {
// width: 95%;
// margin-left: 2.5%;
// }

.container {
  padding: 0px 35px;
}

.show-header {
  margin-bottom: 7px;
  left: -11px;
  position: relative;
}



.strikethrough {
    background-color: transparent;
    border: 1px solid #ffdf00;
    position: absolute;
    width: 20px;
    margin-left: 7px;
}


.show-card {
background: rgba(250,250,250,0.75);
margin-bottom: 25px;
border-radius: 14px;
overflow: hidden;
opacity: 0;
box-shadow: 5px 5px 12px #f1f8f8 inset, -7px -7px 15px #edffff inset;
cursor: pointer;
transition: 0.2s;
}

.show-card:hover {
  box-shadow: 5px 5px 12px #e0e7e7 inset, -7px -7px 15px #dceeee inset;
}

.show-card:after {
  box-shadow: 5px 5px 12px #f0f7f7, -7px -7px 15px #dcefef;
}
.show-image {
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 12px #e0e7e7 inset, -7px -7px 15px #dceeee inset;
  height: 100%;
  min-height: 134px;
}


.show-image img {
  width: 100%;
  margin-top: 2px;
  margin-left: 2px;
  position: relative;
}

.play-icon {
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  position: absolute;
  font-size: 3em;
  text-align: center;
  width: 100%;
  height:100%;
  margin-top: 0px;
  padding-top: 33%;
  margin-left: 7px;
  z-index: 2;
  transition: 0.1s;
}

.play-icon:hover {
  -webkit-text-stroke-color: #ffdf00;
  -webkit-text-stroke-width: 2px;
}

.show-copy h2 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin-top: 14px;
  font-size: 0.75em;
  width: 90%;
}

.show-copy h3 {
  font-family: "Josefin Sans";
  font-size: 0.586em;
  margin-top: 2px;
  color: #888;
}

.show-copy ul {
  margin-top: 7px;
}

.show-copy li {
  font-family: "Josefin Sans";
  color: #000;
  border-radius: 4px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  margin-right: 4px;
  display: inline-block;
  float: left;
  background-color: #f4f4f4;
//  border: 1px solid #1EFFBC;
  font-size: 0.66em;
  margin-bottom: 2px;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 2px 2px 4px #e0e6e6 inset, -3px -3px 5px #cbdede inset;
}

.show-copy li:hover {
  box-shadow: 2px 2px 4px #f0f7f7 inset, -3px -3px 5px #dceeee inset;
}

.listen {
  background: none;
  font-family: "Josefin Sans";
  color: #000;
  border: none;
  font-size: 0.75em;
  background-color: #ffdf00;
}

.show-header .controls {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 2em;
  margin-top: 19px;
  color: transparent;
  text-align: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
}

.genre {
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 0.75em;
  margin-top: 22px;
  color: #3f3f3f;
  border: none;
  background: none;
  padding-left: 14px;
  outline: none;
//  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  padding: 7px 7px;
  border-bottom: 2px solid #e0e0e0;
//  border-radius: 14px;
}

.show-header .controls:hover {
  color: #555;
}

.show-header h2 {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 0.777em;
  margin-top: 4px;
  border-radius: 3px;
  padding: 7px;
  float: right;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;

}

.show-header h2:hover {
  color: #333;
}

.archive-button a {

}

.archive-button {
  border-left: 14px solid transparent;
  border-bottom: 14px solid #888;
  height: 0px;
  line-height: 51px;
  color: #fff;
  width: 120px;
  vertical-align: bottom;
  box-shadow: 0px 21px 0px 0px #888;
  margin-right: 24px;

}

.archive-button:hover {
  border-bottom: 14px solid #e0e0e0;
  box-shadow: 0px 21px 0px 0px #e0e0e0;
}


@media (max-width: 1500px) {
  .show-image {
    min-height: 114px;
  }
}

@media (max-width: 1200px) {
  .play-icon {
    margin-top: 0px;
    padding-top: 27.5%;
  }
  .show-container {
  height: initial;
  }
}

@media (max-width: 960px) {


  // .container {
  //   margin-left: 5%;
  // }

  .show-image {
    min-height: 86px;
  }
}

@media (max-width: 768px) {
  .show-card {
  background-color: #fff;
  margin-bottom: 14px;
  min-height: 100px;
  border-radius: 14px;
  overflow: hidden;
  }

  // .container {
  //   margin-left: 5%;
  // }
  .show-image {
    min-height: 118px;
  }
}

@media (max-width: 576px) {

  #headphones {

    font-size: 24em;
    margin-top: 70px;

  }

  .show-card {
  background-color: #fff;
  margin-bottom: 14px;
  min-height: 70px;
  border-radius: 14px;
  overflow: hidden;
  }

  .show-image {
    box-shadow: none;
    min-height: 0px;
  }

  .genre {
    margin-bottom: 14px;
    margin-top: 0px;
    font-size: 0.9em;
  }

  .genre i {
    font-size: 1.333em;
  }

.genre span {
  position: relative;
  top: -3px;
}


// .container {
//   margin-left: 2.5%;
// }

.show-image {
margin-top: 4px;
margin-left: 4px;
}

.show-image img {
  border-radius: 2px;
}

.play-icon {
  font-size: 2em;
  padding-top: 25%;
  margin-left: 4px;
  margin-top: 4px;

}
}

@media (max-width: 420px) {

}
