<div class='fluid-container'>
  <div id='headphones'>      <i class="fas fa-headphones"></i></div>
    <!-- <div class='blob_1'>&nbsp;</div> -->
<div class='container'>
<div class='row show-header'>
  <div class='col-8 col-sm-4'>
<h1>LATEST SHOWS<span class='strikethrough'>&nbsp;</span></h1>
  </div>
        <div class='col-2 col-sm-1'>
          <button class='controls' (click)='prevShowPage()'><</button>
          </div>
          <div class='col-2 col-sm-1'>
            <button class='controls' (click)='nextShowPage()'>></button>
            </div>
            <div class='col-12 col-sm-6'>
              <p class='genre' *ngIf="currentGenre !== ''"><i style='margin-right: 14px;cursor:pointer;' (click)='closeGenre()' class="fas fa-times-circle"></i><span style='font-family: "Josefin Sans"'>{{currentGenre}}</span></p>
              </div>
    <!-- <div class='col-2'>
      <a routerLink="../archive"><h2 class='archive-button'>ARCHIVE <i class="fas fa-archive"></i></h2></a>
    </div> -->
</div>
</div>
<div class='container show-container'>
<!-- <div class='row' *ngIf='isLoading'>
  <div class='col-12' style='text-align: center;margin-top: 32px;'><img src='assets/loading.gif'>
  </div>
</div> -->
<div class='row'>
  <div (@fade.done)="fadeEnd($event)" class='col-xl-4 col-sm-6 col-12' style='padding:0px 7px;' *ngFor='let show of shows; let x = index'>
  <!-- <ng-template [ngIf]="mode == archive">
  <div (@fade.done)="fadeEnd($event)" class='col-xl-3 col-md-4 col-sm-6 col-12' style='padding:0px 7px;' *ngFor='let show of shows; let x = index'>
  </ng-template> -->
  <div [@fade]='state' class='show-card'>
    <div class='row'>
      <div class='col-3 col-sm-6'>
    <div class='show-image' (click)='listenShow(show.excerpt)'>
      <i class="fas fa-play play-icon"></i>
      <img [src]="show.featured_image">
    </div>
    </div>
    <div class='col-9 col-sm-6'>
    <div class='show-copy'>
      <h2  (click)='listenShow(show.excerpt)'>{{show.title}}</h2>
      <h3>AIRDATE: {{show.date}}</h3>
      <ul>
        <li *ngFor='let tag of show.tags; let i = index;' (click)='sortByTag(tag)'>{{tag}}</li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>
</div>
</div>
