.img-container {
  width: 100%;
  height: auto;
}

.back-btn {

  font-family: "Orbitron";
  font-size: 4.209em;
  color: transparent;
  -webkit-text-stroke-color: #000;
  display: block;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: -75px;
  cursor: pointer;

}

.back-btn:hover {
  -webkit-text-stroke-color: #ffdf00;
}

.img-container img {
  width: 100%;
}

.single-show-title {
  font-family: "Josefin Sans";
  font-size: 1.777em;
  margin-top: 35px;
  margin-bottom: 7px;
  padding: 0px 35px;
}

.single-show-airdate {
  font-family: "Josefin Sans";
  font-size: 0.75em;
  margin-left: 35px;
  margin-bottom: 7px;
  color: #a0a0a0;
}


.single-show-excerpt {
  font-family: "Josefin Sans";
  line-height: 1.5em;
  padding: 0px 35px;
  font-size: 0.75em;
}

.container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.listen-now-btn {
  background: #ffdf00;
  padding: 7px;
  padding-top: 9px;
  margin-top: 7px;
  margin-bottom: 14px;
  display:inline-block;
  margin-left: 35px;
  border-radius: 7px;
  font-family: "Josefin Sans";
  transition: 0.2s;
  cursor: pointer;
}

.listen-now-btn:hover {
  background: #222;
  color: #ffdf00;
}

.watch-now-btn {
  background: #555;
  padding: 7px;
  color: #fffad3;
  padding-top: 9px;
  margin-top: 14px;
  display:inline-block;
  margin-left: 35px;
  border-radius: 7px;
  font-family: "Josefin Sans";
  transition: 0.2s;
  cursor: pointer;
}
.watch-now-btn:hover {
  background: #222;
  color: #ffdf00;
}

.genre-tags {
  margin-left: 35px;
  margin-bottom: 14px;
}

.genre-tags li:nth-child(1) {
  background-color: #000;
  color: #fff;

}

.genre-tags li:nth-child(2) {


}

.genre-tags li {
  text-decoration: none;
  display: inline;
  margin-right: 4px;
  font-size: 0.75em;
  font-family: "Josefin Sans";
  border: 1px solid #000;
  border-radius: 2px;
  padding: 4px;
}


.related-show-container {
  cursor: pointer;
}

.related-show-container:hover {

}

.similar-artists-title {
  font-family: "Josefin Sans";
  margin-top: 7px;
  font-size: 1.333em;
  padding: 4px;
}

@media (max-width: 768px) {
  .back-btn {
    left: 10vw;
  }

  .show-img-container {
    padding-left: 35px;
    padding-right: 35px;
  }
}
