h1 {
  background-color: #ffdf00;
  width: 380px;
  font-family: "Josefin Sans";
  font-weight: 700;
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 14px;
  padding: 14px;
  font-size: 1.333em;
}

.blog-post {
background-color: #d0d0d0;
}

.blog-post h2 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin-top: 14px;
  margin-left: 14px;
  font-size: 1.777em;
}

.blog-post h3 {
  font-family: "Josefin Sans";
  margin-top: 14px;
  margin-left: 14px;
  font-size: 1em;
}

.blog-post img {
  width: 240px;
}
