.container-fluid {
padding-top: 14px;
}

.container {
  width:90%;
  margin-left:0;
  padding:0;
  padding-bottom: 21px;
}

h1 {

  font-family: "Orbitron";
  border-bottom: 2px solid #ffdf00;
  font-weight: 700;
  margin-bottom: 14px;
  padding: 14px;
  font-size: 1.333em;
  color: #000;
}

ul {

  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 14px;
}

tr {
  width: 100%;
}

li {


  text-align: center;
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: 0.75em;
  margin-top: 4px;
  color: #c0c0c0;
  transition: 0.2s;
  padding: 4px;

}

li:not(.active) {
    cursor: pointer;
}

.active {
  background-color: #000;
  color: #fff;
}

li:not(.active):hover {
  color: #000;
}

.schedule-item {
    font-family: 'Josefin Sans';
    padding: 14px 0px;
    border-bottom: 1px solid #999;
}

.schedule-item:nth-of-type(even) {
  background-color: rgba(255,255,255,0.4);
}

.schedule-item:nth-of-type(odd) {
  background-color: rgba(255,255,255,0.2);
}

@media (max-width: 960px) {
  .container {
    margin-left: 5%;
  }
}
