<div class='slider'>

  <div class='slider-controls'>
    <p (click)='prevSlide()'><i class="fas fa-arrow-left"></i></p>
    <p (click)='nextSlide()'><i class="fas fa-arrow-right"></i></p>
  </div>

  <div class='slide-container' [@slide]='sliderState'>
    <div class='slide'>
      <a *ngIf="highlights[0] !== undefined" target="_blank" [href]='highlights[0].excerpt'>
 

          <div class='slide-image'>
          <img *ngIf="highlights[0] !== undefined" [src]="highlights[0].featured_image">

          <div class='slide-copy'>
            <h1 *ngIf="highlights[0] !== undefined">{{highlights[0].title}}</h1>
            <h2 *ngIf="highlights[0] !== undefined">{{highlights[0].content}}</h2>
            </div>

          </div>


  
      </a>
    </div>

    <div class='slide'>
      <a *ngIf="highlights[1] !== undefined" target="_blank" [href]='highlights[1].excerpt'>


          <div class='slide-image'>
          <img *ngIf="highlights[1] !== undefined" [src]="highlights[1].featured_image">


          <div class='slide-copy'>
            <h1 *ngIf="highlights[1] !== undefined">{{highlights[1].title}}</h1>
            <h2 *ngIf="highlights[1] !== undefined">{{highlights[1].content}}</h2>
          </div>

          </div>


 
      </a>
    </div>

    <div class='slide'>
      <a *ngIf="highlights[2] !== undefined" target="_blank" [href]='highlights[2].excerpt'>
  

          <div class='slide-image'>
          <img *ngIf="highlights[2] !== undefined" [src]="highlights[2].featured_image">


          <div class='slide-copy'>
            <h1 *ngIf="highlights[2] !== undefined">{{highlights[2].title}}</h1>
            <h2 *ngIf="highlights[2] !== undefined">{{highlights[2].content}}</h2>
          </div>
          
          </div>


      </a>
    </div>



  </div>
  </div>
