h1 {
font-family: "Orbitron";
font-size: 1.777em;
margin-bottom: 14px;
margin-top: 14px;
}

h2 {
  padding: 7px;
  font-family: "Josefin Sans";
  border: 2px solid #ffdf00;
  margin-top: 4px;
  margin-bottom: 4px;

}
