<div class='fluid-container'>
<div class='container'>
<div class='row show-header'>
  <div class='col-4'>
<h1>LATEST SHOWS<span class='strikethrough'>&nbsp;</span></h1>
  </div>
  <div class='col-2'>
    <button class='controls' (click)='prevShowPage()'><</button>
    </div>
    <div class='col-2'>
      <button class='controls' (click)='nextShowPage()'>></button>
      </div>
    <div class='col-4'>
      <h2 class='archive-button'>ARCHIVE <i class="fas fa-archive"></i></h2>
    </div>
</div>
</div>
</div>
<div class='container'>
<div class='row' *ngIf='isLoading'>
  <div class='col-12' style='text-align: center;margin-top: 32px;'><img src='assets/loading.gif'>
  </div>
</div>
<div class='row' style='width:98%;margin-left:1%;'>

  <div class='col-md-4 col-sm-6 col-12' *ngFor='let show of shows'>
  <div class='show-card' (click)='listenShow(show.excerpt)'>
    <div class='row'>
      <div class='col-6'>
    <div class='show-image'>
      <img [src]="show.featured_image">
    </div>
    </div>
    <div class='col-6'>
    <div class='show-copy'>
      <h2>{{show.title}}</h2>
      <ul>
        <li *ngFor='let tag of show.tags'>{{tag}}</li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>
</div>
