<div class='slider'>
  <div class='slider-controls'>
    <p (click)='prevSlide()'><i class="fas fa-arrow-left"></i></p>
    <p (click)='nextSlide()'><i class="fas fa-arrow-right"></i></p>
  </div>

  <div class='slide-container' [@slide]='sliderState'>

    <div class='slide'>
      <div class='row'>
        <div class='col-7' style='padding: 0px;'>
          <div class='slide-image'>
          <img src="assets/slider_1.jpg">
          </div>
        </div>
        <div class='col-5' style='padding: 0px;'>
          <div class='slide-copy'>
          <h1>Donate to HKCR and support the station</h1>
          <h2>Click here to see what we will do with your donation and our aims to use the funding raised</h2>
          </div>
        </div>
      </div>
    </div>

    <div class='slide'>
      <div class='row'>
        <div class='col-7' style='padding: 0px;'>
          <div class='slide-image'>
          <img src="assets/slider_2.png">
          </div>
        </div>
        <div class='col-5' style='padding: 0px;'>
          <div class='slide-copy'>
          <h1>Donate to HKCR and support the station</h1>
          <h2>Click here to see what we will do with your donation and our aims to use the funding raised</h2>
          </div>
        </div>
      </div>
    </div>

    <div class='slide'>
      <div class='row'>
        <div class='col-7' style='padding: 0px;'>
          <div class='slide-image'>
          <img src="assets/slider_3.png">
          </div>
        </div>
        <div class='col-5' style='padding: 0px;'>
          <div class='slide-copy'>
          <h1>Donate to HKCR and support the station</h1>
          <h2>Click here to see what we will do with your donation and our aims to use the funding raised</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
