.container-fluid {
  padding-top: 0px;
  padding-bottom: 35px;
  background-color: #000;

}

.container {

}

.chinesetext {
//  font-family: 'GBK'!important;
  color: white;
  -webkit-text-stroke-width: 0px;
}


.resident-card {
  padding: 2px;
  margin: 0px;
  border: 1px solid #222;
  margin-bottom: 7px;
  min-height: 18.75rem;
  background-color: #0a0a0a;
  cursor: pointer;
}

.see-all-residents {
  color: #fff;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  padding: 14px 14px;
  border: 1px solid #f0f0f0;
  transition: 0.2s;
  font-family: "Josefin Sans";
}

.see-all-residents:hover {
  border: 1px solid #ffdf00;
  text-decoration: none;
  color: #ffdf00;
}

@media only screen and ( orientation : portrait ) {
  .resident-card{
  min-height: 16rem;
  max-height: 16rem;
  width: 100%;
  }
}

.img-container {
  max-height: 25rem;
  overflow-y: hidden;
  overflow-x: hidden;
}


.img-container img {
width:100%;
}


h1 {
  font-size: 1.333em;
  padding-top: 35px;
  padding-bottom: 12px;
  margin-left: 30px;
  border-bottom: 2px solid #ffdf00;
  font-family: "Orbitron", monospace;
  width: 240px;
  font-weight: 900;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 23px;
  color: transparent;
}

h2 {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 1em;
  color: #fff;
  font-family: 'Josefin Sans';
}

.row {
  padding-bottom: 35px;
}

@media (max-width: 1200px) {
  .img-container {
    max-height: 160px;
  }
  .resident-card {
    height: 220px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1em;

  }
}
