.container {
  padding-top: 26px;
  padding-bottom: 35px;
}

.chinesetext {
//  font-family: 'GBK'!important;
  color: black;
  -webkit-text-stroke-width: 0px;
}


.upcoming-card {
border-bottom: 1px dotted #eaeaea;
margin-bottom: 7px;
margin-top: 7px;
padding: 7px 14px;
transition: 0.2s;
cursor: pointer;
position: relative;
}

.upcoming-content {
  font-family: "Josefin Sans";
  margin-top: 14px;
  line-height: 1.333em;
  margin-bottom: 7px;
  font-size: 0.75em;
  color: #555;
}

.upcoming-card:hover {
color: #666 !important;
box-shadow: 0px 0px 2px 2px inset #cacaca;

}

.upcoming-now-playing {
  font-size: 0.75em;
  color: #000;
  padding: 4px 0px 3px 0px;
  display: inline-block;
  font-family: 'Josefin Sans';
  padding: 4px;
  background-color: #00FF5D;
  text-align: center;
  position: absolute;
  left: -80px;
  top: -7px;
}

.upcoming-up-next {
  font-size: 0.75em;
  color: #000;
  padding: 4px 0px 3px 0px;
  display: inline-block;
  font-family: 'Josefin Sans';
  padding: 4px;
  background-color: #FFDF00;
  text-align: center;
  position: absolute;
  left: -80px;
  top: -7px;
}

.upcoming-img-container {
  width: 100%;
  height: auto;
  padding: 4px;
  padding-left: 14px;
}

.upcoming-img-container img {
  width: 100%;
  border-radius: 2px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.333em;
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 25px;
  position: relative;
  margin-left: 14px;
}

.strikethrough {
    background-color: transparent;
    border: 1px solid #ffdf00;
    position: absolute;
    width: 20px;
    margin-left: 7px;
}


.upcoming-title {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 4px;
  margin-bottom: 7px;
}

.upcoming-date {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75em;
  margin-top: 7px;
  color: #000;
}

.day {
  font-family: "Orbitron",sans-serif;
  color: #000;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
  font-size: 1em;
  background-color: #ffec64;
  padding: 4px;
  margin-bottom: 7px;
}

.schedule-btn {
  color: #000;
  font-family: "Orbitron";
  padding: 4px;
  font-size: 1.333em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  color: transparent;
  margin-left: 14px;
  display: inline-block;
  margin-top: 14px;

}


.empty-message {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75em;
  color: #aaa;
  margin-left: 19px;
}

@media only screen and ( max-width : 550px ) {

  .upcoming-now-playing {
left: -40px;
  }

  .upcoming-up-next {
    left: -56px;
  }

}
