.container {
  padding-top: 26px;
  padding-bottom: 35px;
}

.upcoming-card {
border-bottom: 1px dotted #eaeaea;
margin-bottom: 7px;
margin-top: 7px;
padding: 7px 14px;
transition: 0.2s;
cursor: pointer;
}

.upcoming-card:hover {
color: #666 !important;
box-shadow: 0px 0px 2px 2px inset #cacaca;

}

.upcoming-img-container {
  width: 100%;
  height: auto;
}

.upcoming-img-container img {
  width: 100%;
  border-radius: 2px;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 1.333em;
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;
  margin-bottom: 25px;
  position: relative;
}

.strikethrough {
    background-color: transparent;
    border: 1px solid #ffdf00;
    position: absolute;
    width: 20px;
    margin-left: 7px;
}


.upcoming-title {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 4px;
}

.upcoming-date {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75em;
  color: #aaa;
}
