.banner {
    display: table-cell;
    width: 100vw;
    height: 12rem;
    vertical-align: middle;
    text-align: center;

    // background-color: #ffdf00;
    background-color: #FFE739;
    position: relative;
}


img {
    max-width: 100%;
    height: auto;
}