<app-slider></app-slider>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-8 col-12'>
<app-shows></app-shows>
</div>
<div class='col-md-4 col-12' style='background-color: #fff;'>
<!-- <app-schedule></app-schedule> -->
<app-upcoming></app-upcoming>
</div>
</div>
<div class='row'>
<div class='col-12'>
  <app-residents></app-residents>
  </div>
  </div>
</div>
<!-- <div class='container-fluid'>
  <div class='col-lg-8 col-12'>
<app-blogroll></app-blogroll>
  </div>
</div> -->
<app-adspace></app-adspace>
